<sppiner *ngIf="isLoad"></sppiner>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="alert alert-danger" *ngIf='invalidtLogin'>has an errors </div>
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="form" (submit)="register()">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class=" fa fa-users"></i></span>
                  </div>
                  <input formControlName="name" name="name"  type="text" class="form-control" 
                  [class.is-invalid]="(isValid('name') || errors?.name)" 
                   [class.is-valid]="isInputValid('name')"
                  placeholder="Companie Name" autocomplete="username" required>
                </div>
                <span style="color: red;" *ngIf="isValid('name') || errors?.name ">
                  <span *ngFor="let err of messageError('name')">{{ err }}</span>
                  <span *ngFor="let err of errors?.name">{{ err }}</span>
                </span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                  </div>
                  <input formControlName="login" name="login"  type="text" class="form-control" 
                  [class.is-invalid]="(isValid('login') || errors?.login)" 
                   [class.is-valid]="isInputValid('login')"
                  placeholder="Login" autocomplete="username" required>
                </div>
                <span style="color: red;" *ngIf="isValid('login') || errors?.login">
                  <span *ngFor="let err of messageError('login')">{{ err }}</span>
                  <span *ngFor="let err of errors?.login">{{ err }}</span>
                </span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input formControlName="username" name="username"  type="text" class="form-control" 
                  [class.is-invalid]="(isValid('username') || errors?.username)" 
                   [class.is-valid]="isInputValid('username')"
                  placeholder="Username" autocomplete="username" required>
                </div>
                <span style="color: red;" *ngIf="isValid('username') || errors?.username">
                  <span *ngFor="let err of messageError('username')">{{ err }}</span>
                  <span *ngFor="let err of errors?.username ">{{ err }}</span>
                </span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input formControlName="email" name="email"  type="text" class="form-control"
                  [class.is-invalid]="(isValid('email') || errors?.email)" 
                   [class.is-valid]="isInputValid('email')" 
                  placeholder="Email" autocomplete="email" required>
                </div>
                <span style="color: red;" *ngIf="isValid('email') || errors?.email">
                  <span *ngFor="let err of messageError('email')">{{ err }}</span>
                  <span *ngFor="let err of errors?.email">{{ err }}</span>
                </span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input formControlName="password" name="password" type="password"
                  [class.is-invalid]="(isValid('password') || errors?.password)" 
                   [class.is-valid]="isInputValid('password')"
                  class="form-control" placeholder="Password" autocomplete="new-password" required>
                </div>
                <span style="color: red;" *ngIf="isValid('password') || errors?.password">
                  <span *ngFor="let err of messageError('password')">{{ err }}</span>
                  <span *ngFor="let err of errors?.password">{{ err }}</span>
                </span>
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-phone"></i></span>
                  </div>
                  <input formControlName="tel" name="tel"  type="tel" class="form-control" 
                  [class.is-invalid]="(isValid('tel') || errors?.tel)" 
                   [class.is-valid]="isInputValid('tel')"
                  placeholder="telephone" autocomplete="phone" required>
                </div>
                <span style="color: red;" *ngIf="isValid('tel') || errors?.tel">
                  <span *ngFor="let err of messageError('tel')">{{ err }}</span>
                  <span *ngFor="let err of errors?.tel">{{ err }}</span>
                </span>
                <div class="form-group">
                  <label for="type">Type</label>
                  <select class="form-control" id="type"
                  [class.is-invalid]="(isValid('type') || errors?.type)" 
                   [class.is-valid]="isInputValid('type')" 
                  formControlName="type" name="type"  class="form-control" id="type"
                  >
        
                    <option *ngFor="let r of valueType"  [value]="r">{{r}}</option>
                    
                  </select>
                  <div [class.invalid-feedback]="isValid('type') || errors?.type"  *ngIf="isValid('type') || errors?.type ">
                    <span *ngFor="let err of messageError('type')">{{ err }}</span>
                    <span *ngFor="let err of errors?.type">{{ err }}</span>
                  </div>
                </div> 
                <button type="submit" [disabled]="!form.valid" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col">
                  <a class="btn btn-block btn-facebook" type="button" routerLink="/login"><span>Login</span></a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
